#textSearch {

    -fx-hgap: 20px;
    -fx-background-color: #FFCE54;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#000000;
    -fx-text-fill: #163B67;
}

#btnDeleteWord {

    -fx-hgap: 20px;
    -fx-background-color: "red";
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#000000;
    -fx-text-fill: #163B67;


}

