#textShowMean {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 5;
    -fx-border-color: #009966;
    -fx-font-size: 18;
}
#textShowMean {
    -fx-background-color: transparent;
}
#textShowMean .viewport{
    -fx-background-color: transparent;
}
#textShowMean .content{
    -fx-background-color: transparent;
}


#btnDeleteFav {

    -fx-hgap: 20px;
    -fx-background-color: "red";
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#000000;
    -fx-text-fill: #163B67;
}

#listFavourite {

    -fx-hgap: 20px;
    -fx-background-color: "white";
    -fx-background-radius: 5;
        -fx-border-radius: 5;

    -fx-border-width: 5px;
    -fx-border-color: 	#009966;
    -fx-text-fill: #163B67;
    -fx-font-size: 20;
}


#spell {


    -fx-background-color: 	#99FFCC;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#009966;


}
