#wordInsert {

    -fx-hgap: 20px;
    -fx-background-color: #FFCE54;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#000000;
    -fx-text-fill: #163B67;
}


#meanInsert {

    -fx-hgap: 20px;
    -fx-background-color: #FFCE54;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#000000;
    -fx-text-fill: #163B67;
}


#btnComfirmInsert {

    -fx-hgap: 20px;
    -fx-background-color: "red";
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#000000;
    -fx-text-fill: #163B67;
}

#textAreaMeaning {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 5;
    -fx-border-color: #009966;
    -fx-font-size: 22;
}
#textAreaMeaning {
    -fx-background-color: transparent;
}
#textAreaMeaning .viewport{
    -fx-background-color: transparent;
}
#textAreaMeaning .content{
    -fx-background-color: transparent;
}