#textSearch {

    -fx-hgap: 20px;
    -fx-background-color: #FFCE54;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#000000;
    -fx-text-fill: #163B67;
}

#textModifyWord {

    -fx-hgap: 20px;
    -fx-background-color: #FFCE54;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#000000;
    -fx-text-fill: #163B67;
}

#textModifyMean {

    -fx-hgap: 20px;
    -fx-background-color: #FFCE54;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#000000;
    -fx-text-fill: #163B67;
}

#btnDeleteWord {

    -fx-hgap: 20px;
    -fx-background-color: "red";
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#000000;
    -fx-text-fill: #163B67;
}

#modifyMeaning {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 5;
    -fx-border-color: #009966;
    -fx-font-size: 22;
}
#modifyMeaning {
    -fx-background-color: transparent;
}
#modifyMeaning .viewport{
    -fx-background-color: transparent;
}
#modifyMeaning .content{
    -fx-background-color: transparent;
}

