#textSearch {

    -fx-hgap: 20px;
    -fx-background-color: #FFCE54;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#000000;
    -fx-text-fill: #163B67;
}


#textShow {
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-width: 5;
    -fx-border-color: #009966;
    -fx-font-size: 24;
}
#textShow {
    -fx-background-color: transparent;
}
#textShow .viewport{
    -fx-background-color: transparent;
}
#textShow .content{
    -fx-background-color: transparent;

}

#choiceBoxSource {
    -fx-hgap: 20px;
        -fx-background-color: #33CC00;
        -fx-background-radius: 50px;
        -fx-border-radius: 50px;
        -fx-border-width: 5px;
        -fx-border-color: 	#000000;
        -fx-text-fill: #163B67;
        -fx-font-size: 20;

}

#choiceBoxExplain {
    -fx-hgap: 20px;
        -fx-background-color: #33CC00;
        -fx-background-radius: 50px;
        -fx-border-radius: 50px;
        -fx-border-width: 5px;
        -fx-border-color: 	#000000;
        -fx-text-fill: #163B67;
        -fx-font-size: 20;

}

#searchFit {

    -fx-hgap: 20px;
    -fx-background-color: #FFCE54;
   	-fx-border-top-right-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#000000;
    -fx-text-fill: #163B67;
}


