#textSearch {

    -fx-hgap: 20px;
    -fx-background-color: #FFCE54;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#000000;
    -fx-text-fill: #163B67;
}


#wordBig {


    -fx-background-color: 	#99FFCC;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#009966;


}

#textShow {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 5;
    -fx-border-color: #009966;
    -fx-font-size: 20;
}
#textShow {
    -fx-background-color: transparent;
}
#textShow .viewport{
    -fx-background-color: transparent;
}
#textShow .content{
    -fx-background-color: transparent;
}

#historyWord {

    -fx-hgap: 20px;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 5px;
    -fx-border-color: 	#009966;
    -fx-text-fill: #163B67;
    -fx-font-size: 18;
}

#historyWord .list-cell:even {
-fx-background-color: 	white;
-fx-text-fill: black;
}
#historyWord .list-cell:odd {
-fx-background-color: 	white;
-fx-text-fill: black;
}

#btnClear {

    -fx-hgap: 20px;
    -fx-background-color: "red";
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#000000;
    -fx-text-fill: #163B67;


}

#spell {


    -fx-background-color: 	#99FFCC;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: 	#009966;


}